<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{{ meta.charset }}">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ meta.description }}">
    <link rel="stylesheet" href="http://urfu2015-notes.surge.sh/index.css" media="screen">
</head>
<body>
    {{{ body }}}
    <script src="http://urfu2015-notes.surge.sh/index.js"></script>
</body>
</html>
